html {
    font-size: 62.5%;
}

body {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'DINPro', sans-serif;
    color: #002949;
    background: #f5f5f5;
}

div {
	position: relative;
}

a:focus { 
    outline: none; 
    text-decoration: none;
}

.container {
	min-width: 280px;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.page-container {
		z-index: 1;
}

.page-container section:first-child {
	padding-top:75px;

}

h1 {
	font-size: 2rem;
	line-height: 2.5rem;
	color: #ccc;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
}

h2 {
	color:#000;
	font-size: 3rem;
	line-height: 3.5rem;
	font-family: 'Domine', serif;
	font-weight: normal;	
}
h3{}
h4{
	color:#000;
	font-size: 2.5rem;
	line-height: 3.0rem;
	font-weight: normal;
}

p {
	color: #808080;
	font-size: 1.8rem;
	line-height: 3rem;
}

@media only screen and (min-width:768px) {
	.page-container section:first-child {
		padding-top:125px;
	}
	h1 {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}


/* main navigation *****************************************************************************/
nav {
	position: fixed;
	background-color: rgba(245,245,245,.95);
	top:0;
	left:0;
	width: 100%;
	z-index: 5000;
	margin:0;
	-webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}

nav.no-color,
.open nav {
	background-color: rgba(245,245,245,0)!important;
}

.nav-show {
	margin: 15px 0;
}

.logo-cont {
	height: 45px;
	width: 150px;
	float: left;
	cursor: pointer;
	z-index:1000;
}

.logo-cont > svg {
	cursor: pointer;
}

svg.logo-m {
	fill:#bc4e27;
	-webkit-transition: fill .3s; /* Safari */
  transition: fill .3s;
}

svg.logo-williams,
svg.logo-martin {
	fill:#000000;
	-webkit-transition: fill .3s; /* Safari */
  transition: fill .3s;
}

.logo-m {
	width: 28px;
	height: 30px;
}

.logo-martin,
.logo-williams {
	height: 15px;
}

.logo1 {
	position: absolute;
	top: 6px;
	left: 0;
}

.logo2 {
	height: 15px;
	position: absolute;
	left: 39px;
	top:11px;
}

.logo3 {
	height: 15px;
	position: absolute;
	left: 100px;
	top: 11px;
}

.menu-icon {
	width: 54px;
	height: 42px;
	float: right;
	padding: 10px;
	cursor: pointer;
	z-index:1001;
	-webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}

.menu-icon > .sushi-bar{
	cursor: pointer;
}

.sushi-bar {
	position: absolute;
	width: 2px;
	height: 22px;
	opacity: 1;
	-webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}

.menu-icon #sb1 {
	top: 10px;
	left: 15px;
}
.menu-icon #sb2 {
	top: 10px;
	left: 25px;
}
.menu-icon #sb3 {
	top: 10px;
	left: 35px;
}



.open .menu-icon #sb2 {
	margin: 0;
	opacity: 0;
}

.open .menu-icon #sb1 {
	left:26px !important;
	 -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

.open .menu-icon #sb3 {
	left: 26px !important;
	 -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
}

.nav-back {
	display: block;
	position:fixed;
	background-color: #bc4e27;
	top:0;
	left:0;
	width: 100%;
	height: 0;
	opacity: 0;
	z-index: -1;
	-webkit-transition: opacity .4s; /* Safari */
  transition: opacity .4s;
}

.open .nav-back {
	opacity: 1;
	z-index: 100;
}


.main-nav {
	/*background: #bc4e27;*/
	height: 600px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 10000px;
	z-index: 500;
	display: block;
	-webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}

.mn-cont {
	float: none;
	margin-top: 100px;
}

.mn-cont ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mn-cont ul li {}
.mn-cont ul li a,
.mn-cont ul li a:visited {
	font-family: 'Domine', serif;
	font-weight: lighter;	
	color: #fff;
	font-size: 3rem;
	display:block;
	width: 100%;
	text-align: right;
	padding: 0 20px 10px 0;
	font-style: normal;
}

.mn-cont ul li a:hover,
.mn-cont ul li a:focus {
	text-decoration: none;
	opacity: .75;
}

html.open,
.open body { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.open #progress-bar {
	opacity: 0;
}
.open .main-nav {
	left: 0 !important;
}

.open svg,
.open svg.logo-williams,
.open svg.logo-martin,
.open svg.logo-m {
	fill: #fff;
}
ul.mn-social,
ul.mn-contact {
	margin-top: 25px;
}

li.li-title {
	font-family: 'Domine', serif;
	color: #fff;
	font-size: 3.0rem;
	font-weight: 500;
	line-height: 2.0rem;
	padding: 0;
	margin-bottom: 20px;
}

.mn-cont ul.mn-social li a,
.mn-cont ul.mn-contact li a {
	font-family: 'Domine', serif;
	font-size: 1.7rem;
	line-height: 2.0rem;
	letter-spacing: 0;
	color: #000;
	padding: 0 20px 0 0 ;
}

.mn-cont ul.mn-contact li a:hover {
	opacity: .5;
}

	a.tele {
		margin-top: 20px;
	}

footer a.tele {
		margin-top: 10px;
	}

.nav-hide {
	top: -75px;
}


@media only screen and (min-width:768px) {
	nav {
		height: 125px;
	}
	.nav-show {
		margin: 40px 0;
		-webkit-transition: all .3s; /* Safari */
  	transition: all .3s;
	}
	.logo-cont {
		width: 250px;
	}
	.logo-martin,
	.logo-williams {
		height: 18px;
	}

	.logo2 {
		left: 42px;
		top:10px;
	}

	.logo3 {
		left: 114px;
		top: 10px;
	}
	.mn-cont {
		float: right;
		margin-top: 100px;
		margin-right: 0;
	}
	.main-nav {
		width: auto;
	}
	.mn-cont ul {
		width: 300px;
	}
	.mn-cont ul li a {
		font-size: 3.0rem;
		width: auto;
		display: block;
		text-align: right;
		opacity: 1;
		-webkit-transition: all .3s; /* Safari */
  	transition: all .3s;
	}

	.mn-cont ul li a:hover {
		opacity: .7;
	}

	.mn-cont ul.mn-social li a:hover,
	.mn-cont ul.mn-contact li a:hover{
		opacity: .5;
	}

	nav.min-nav {
		top: -125px;
	}

	.menu-icon:hover #sb1 {
		left:10px;
	}
	.menu-icon:hover #sb3 {
		left:40px;
	}

}

/* END main navigation *****************************************************************************/
/* Footer  *****************************************************************************************/
footer {
	background: #000;
	padding: 100px 0;

}

footer .logo-cont {
	margin-bottom: 25px;
	z-index: 200;
}

.open footer .logo-cont svg{
	display:none;
}


footer svg.logo-martin,
footer svg.logo-williams {
	fill: #ffffff;
}

footer .ft-link-cont {
	padding: 0 15px 0 40px;
}

footer .ft-link-cont > a,
footer .ft-title {
	display: block;
	width: 100%;
	font-weight: normal;
	font-style: normal;	
	font-size: 2.4rem;
	color: #fff;
	line-height: 3.0rem;
	padding-bottom: 15px;
}

footer .ft-link-cont > a:hover {
	opacity: .7;
	text-decoration: none;
}

footer .ft-title {
	padding-bottom: 5px;
}

ul.ft-copy {
	list-style: none;
	padding:0;
	margin:0 0 15px;
}

ul.ft-copy li {}

footer #ft-links ul.ft-copy li a {
	color: #808080;
	font-size: 1.4rem;
	line-height: 1.8rem;
	display:block;
	font-family: 'Domine', serif;
	font-weight: normal;
	margin-bottom: 5px;
}

footer #ft-links ul.ft-copy li a:hover {
	opacity: .7;
	text-decoration: none;
}

@media only screen and (min-width:768px) {
	footer .logo-cont {
		margin-bottom: 50px;
	}
	footer .ft-link-cont {
		padding: 0 15px;
		min-height: 150px;
	}

	footer .ft-link-cont.ft-one {
		min-height: 70px;
	}
}
@media only screen and (min-width: 992px) {
	footer .logo-cont {
		margin-bottom: 75px;
	}
	footer .ft-link-cont.ft-one {
		min-height: 150px;
	}
}
@media only screen and (min-width: 1200px) {}

/* END Footer  *****************************************************************************************/
/* Squares Layout **************************************************************************************/

.sq-layout{
	margin-top: 0;
}

.sq-single {
	opacity:0;
	cursor: pointer;
	max-width: 300px;
	margin: 0 auto 50px;
}

.sq-single img {
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .7s; /* Safari */
  transition: all .7s;
}

.sq-single h2 {
	font-family: 'DINPro', sans-serif;
	font-size: 2.5rem;
	line-height: 3.0rem;
	color: #000;
	margin: 0;
	font-weight: normal;
	margin: 25px 0 5px;
}

.sq-single p {
	font-size: 1.6rem;
	line-height: 1.9rem;
	color:#808080;
	font-family: 'Domine', serif;
	font-weight: normal;
	margin: 0 0 15px;
}

.sq-single:hover img {
	-webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.sq-btn-cont {
	margin: 10px 0 125px;
	text-align: center;
}

a.btn-sqly {
	display: block;
	opacity:0;
	font-family: 'Domine', serif;
	font-size: 2.0rem;
	line-height: .0rem;
	color:#c04e27;

	padding: 15px;
	font-weight: normal;
	-webkit-transition: all .25s; /* Safari */
  transition: all .25s;
}

a.btn-sqly:hover {
	opacity: .7 !important;
	text-decoration: none;
}

.come-in {
  transform: translateY(50px);
  animation: come-in 1.5s ease forwards;
}

.already-visible {
	opacity: 1;
  transform: translateY(0);
  animation: none;
}

#culture {
	margin-bottom:100px;
}

@keyframes come-in {
  to { transform: translateY(0); opacity:1;}
}

@media only screen and (min-width:768px) {
	a.btn-sqly {
		font-size: 2.5rem;
	}
}

/* END Squares Layout **********************************************************************************/
/* Home Hero *******************************************************************************************/

#home-hero {
	margin-bottom: 75px;
}

.hh-cont {
	overflow:hidden;
	height: 500px;
}

.hero-copy-cont{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	height: 500px;
}

.hc-copy{
	position: absolute;
  margin: auto;
  width: 100%;
  top: 80px;
  left: 0;
  height: 92px;
}

.hc-copy .perm {
	position: absolute;
	top:20px;
	left: 0;
	opacity: 0;
	font-size: 3.4rem;
	line-height: 5rem;
	letter-spacing: -1px;
	-webkit-transition: all .7s; /* Safari */
  transition: all .7s;
}

.hc-copy .perm.in{
	opacity: 1;
	top:0;
}

.hc-copy .perm.out{
	opacity: 0;
	top:-31px;
}


.hc-copy .temp{
	display: block;
	position: absolute;
	top: 55px;
	left: 0;
	opacity: 0;
	color: #c04e27;
	font-family: 'Domine', serif;
	font-size: 3rem;
	line-height: 3.5rem;
	-webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}

.hc-copy .temp.in {
	opacity: 1;
	top:42px;
}
.hc-copy .temp.out {
	opacity: 0;
	top:25px;
}

.hero-image-cont {
	position: absolute;
	width: 100%;
	top: 210px;
	right: 0;
	z-index: 100;
	height: 500px;
}


.hi-single {
	width: 100%;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	height: 500px;
	background-position: right center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.hi-single.in {
	opacity: 1;
}

.hc-links {
	position: absolute;
	opacity:0;
	height: 40px;
	bottom: -30px;
	z-index: 300;
	background-color: #f5f5f5;
	width: 100%;
}

.hc-links a {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity:0;
	width: 100%;
	padding: 5px 0;
	font-family: 'Domine', serif;
	color: #c04e27;
	font-size: 1.6rem;
	line-height: 4rem;
	text-decoration: none;
	padding: 0 0 0 4px;
	z-index: 0;
	-webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.hc-links.in,
.hc-links a.in {
	opacity: 1;
	display: block;
	z-index: 500;
}

.hc-links a:hover {
	opacity: .7;
}

@media only screen and (min-width:768px) {

	.hc-copy{
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  height: 67px;
	}

	.hc-copy .perm {
		font-size: 4.5rem;
		line-height: 5rem;
		letter-spacing: -2px;
		color: #000;
	}

	.hc-copy .temp{
		font-size: 4rem;
		line-height: 5rem;
	}

	.hc-copy .temp.show {
		opacity: 1;
		top:41px;
	}

	.hero-image-cont {
		width: 50%;
		top: 0;
		right: 15px;
	}

	.hc-copy .temp.in {
		top:40px;
	}

	.hi-single {
		-webkit-background-size: contain;
	  -moz-background-size: contain;
	  -o-background-size: contain;
	  background-size: contain;
	}
	.hc-links {
		position: absolute;
		bottom: -80px;
		z-index: 1000;
		background-color: transparent;
		width: 30%;
	}

	.hc-links a {
		display: inline-block;
		width: auto;
		padding: 5px 0 5px 4px;
		font-family: 'Domine', serif;
		color: #c04e27;
		font-size: 2rem;
		line-height: 4rem;
		text-decoration: none;
	}

	.hc-links a:hover {
		opacity: .7;
	}
}
@media only screen and (min-width: 992px) {
	.hero-image-cont {
		width: 75%;
	}
	.hc-copy .temp{
		top:24px;
		left: 184px;
	}
	.hc-copy .temp.in {
		opacity: 1;
		top:-1px;
	}
	.hc-copy .temp.out {
		opacity: 0;
		top:-25px;
	}

	.hc-links {
		bottom: -32px;
	}

}
@media only screen and (min-width: 1200px) {


}

/* Progress Bar ***************************************************************************************/
#progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	display:none;
	width: 100%;
	height: 2px;
	z-index: 6000;
	overflow: hidden;
	background-color: #f5f5f5;
	-webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;
}

#progress-bar.on {
	display:block;
}

#progress-bar #bar {
	position: absolute;
  width: 0px;
  height: 2px;
  background-color: #bc4e27;
}

/* END Progress Bar ***************************************************************************************/
/* Meat Raffle ***************************************************************************************/

#meat-raffle {
	background-color: #fff;
	padding: 50px 0;
}

#meat-raffle h2 {
	margin-top:0;
}

#meat-raffle p {
	width: 100%;
	font-size: 1.8rem;
	color: #808080;
}

#meat-raffle form {
	margin-top: 15px;
}

.input-cont {
	margin-bottom: 22px;
}

.mobile-pad {
	padding: 0 30px;
}

.input-cont input {
	width: 100%;
	background-color: #f5f5f5;
	border-style:solid;
	border: none;
	-webkit-appearance: none;
	padding: 5px 15px;
	font-size: 1.8rem;
	height:50px;
	color: #808080;
}

.input-cont label {
	font-size: 1.8rem;
	color: #808080;
	position: absolute;
	top: 13px;
	left: 15px;
	z-index: 100;
	cursor: text;
	-webkit-transition: all .25s; /* Safari */
  transition: all .25s;
}

.input-cont input:focus + label,
.input-cont label.filled-out {
	opacity:0;
}

#meat-raffle form a { 
	display: block;
	font-size: 2.0rem;
	line-height: 5.0rem;
	color: #bc4e27;
	font-family: 'Domine', serif;
	font-weight: normal;	
	opacity:1;
	-webkit-transition: all .25s; /* Safari */
  transition: all .25s;
}

#meat-raffle form a:hover {
	text-decoration: none;
	opacity:.7;
}


@media only screen and (min-width:768px) {
	#meat-raffle {
		padding: 80px 0;
	}
	#meat-raffle form {
		margin-top: 0;
	}

}
@media only screen and (min-width: 992px) {
	#meat-raffle p {
		width: 80%;
	}
}
@media only screen and (min-width: 1200px) {}


#scroll-arrow {
	display: none;
}


@media only screen and (min-width:768px) {

	#scroll-arrow {
		display: block;
		position: relative;
		position: fixed;
		bottom: -100px;
		right: 25px;
		height: 40px;
		width: 40px;
		background-color: #808080;
		display: block;
		border-radius: 35px;
		z-index: 10000;
		overflow: hidden;
		cursor: pointer;
		-webkit-transition: all .7s; /* Safari */
	  transition: all .7s;
	}

	#scroll-arrow img {
		display:block;
		width: 23px;
		height: 22px;
		margin: 9px auto 0;
	}

	#scroll-arrow.on {
		bottom: 25px;
	}

	#scroll-arrow.down img {
		-webkit-transform: rotate(180deg); /* Safari */
	  transform: rotate(180deg);
	}

	.open #scroll-arrow {
		display: none;
	}
}


/* END Meat raffle  ***************************************************************************************/
/* Case Study ***************************************************************************************/

#cs-top {
	background: linear-gradient( #3ab289 70%, #f5f5f5 30%);
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-bottom: 200px;
	min-height: 750px;
}


.bi-img-holder {
	position: absolute;
  width: 100vw;
  height: 70vw;
  overflow: hidden;
  bottom: 8%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.bi-img-holder .img-top {
	position: absolute;
	top:0;
	left:0;
	background-image: url(../img/case-study/cs-hero900x630.png);
  background-color: #3ab289;
  background-blend-mode: multiply;
  background-size: 100vw; 
  width: 100vw;
  height: 35vw;
  z-index:2;
}

.bi-img-holder .img-bottom {
	position: absolute;
	top:0;
	left:0;
	background-image: url(../img/case-study/cs-hero900x630.png);
  background-color: #f5f5f5;
  background-blend-mode: multiply;
  background-size: 100vw; 
  width: 100vw;
  height: 70vw;
  z-index:1;
}

.arrow-cont {
	position: relative;
	width: 100%;
	height: 30px;
	top: 190px;
	z-index: 500;
	padding: 0 15px;
	display: none;
}

.arrow-cont .right{
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .25s; /* Safari */
  transition: all .25s;
}

.arrow-cont .right img{
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(90deg)
}

.arrow-cont .left{
	width: 30px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .25s; /* Safari */
  transition: all .25s;
}

.arrow-cont .left img{
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(-90deg); /* Safari */
	transform: rotate(-90deg)
}

.arrow-cont .right:hover {
	right: -10px;
}
.arrow-cont .left:hover {
	left: -10px;
}

.cs-copy {
	text-align: center;
	margin-top: 60px;
	z-index: 10;
}

.cs-copy h2 {
	font-size: 4rem;
	line-height: 4.5rem;
  font-family: 'DINPro', sans-serif;
  color: #fff;
  margin: 0 0 20px;
}

.copy-holder {
	margin:0 0 50px;
	text-align: center;
}

.copy-holder p {
	width: 100%;
}

#vid-image-holder {
	margin-bottom: 50px;
}

.quote-holder{
	margin: 0 0 50px;
	text-align: center;
}

.quote-holder .quote{
	font-size: 4rem;
	line-height: 4.5rem;
	font-family: 'Domine', serif;
	font-weight: normal;
	color: #3ab289;	
}

.quote-holder .qfrom{
	font-size: 2.5rem;
	line-height: 3rem;
	padding: 15px 0;
	font-family: 'Domine', serif;
	font-weight: normal;
	color: #3ab289;	
}


@media only screen and (min-width:768px) {
	#cs-top {
		min-height: 1000px;
	}
	.cs-copy {
		width:80%;
		margin: 0 auto;
	}
	.cs-copy h2 {
		font-size: 6rem;
		line-height: 6.5rem;
	  font-family: 'DINPro', sans-serif;
	  color: #fff;
	  margin: 100px 0 20px;
	}
	.arrow-cont {
		display: block;
	}
	.copy-holder {
		margin:100px 0;
	}
	#vid-image-holder {
		margin-bottom: 100px;
	}
	.quote-holder{
		margin: 0 0 100px;
	}
}
@media only screen and (min-width:900px) {

	.bi-img-holder {
	  width: 900px;
	  height: 630px;
	  top: calc(70% - 315px);
	}

	.bi-img-holder .img-top {
		background-size: 900px 630px; 
	  width: 900px;
	  height: 315px;
	}

	.bi-img-holder .img-bottom {
		background-size: 900px 630px; 
	  width: 900px;
	  height: 630px;
	}
	.copy-holder p {
		width: 90%;
		margin: 0 auto;
	}
	.quote-holder .quote{
		font-size: 5rem;
		line-height: 5.5rem;
	}

	.quote-holder .qfrom{
		font-size: 3.5rem;
		line-height: 4rem;
		padding: 25px 0;
	}
	.quote-holder{
		width: 90%;
		margin:100px auto;
	}

}
@media only screen and (min-width: 1200px) {
	.copy-holder p {
		width: 75%;
	}
	.quote-holder .quote{
		font-size: 6rem;
		line-height: 6.5rem;
	}

}

/* END Case Study  *************************************************************************************************/
/*  Dragable image component ***************************************************************************************/

#drag-images{
	margin-bottom: 100px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#drag-icon {
	background-image: url(../img/dragable.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center 35%;
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: #808080;
	display: block;
	border-radius: 50px;
	z-index: 500;
	top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.drg-copy {
	color: #fff;
	margin-top: 55px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3rem;
	letter-spacing: 1px;
}


.di-cont {
	height:317px;
	overflow: auto;
	overflow: hidden;
}

.grabbable {
    cursor: move !important; /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}


.di-single-holder {
	height: 300px;
}


.di-single {
	height: 300px;
	padding-right: 80px;
	float:left;
}

.di-single img {
	max-height: 100%;
}


@media only screen and (min-width:768px) {
	#drag-images{
		height: 400px;
	}
	.di-cont {
		height: 417px;
	}
	.di-single-holder {
		height: 400px;
	}
	.di-single {
		height: 400px;
	}
}
@media only screen and (min-width: 992px) {
	#drag-images{
		height: 500px;
	}
	.di-cont {
		height: 517px;
	}
	.di-single-holder {
		height: 500px;
	}
	.di-single {
		height: 500px;
	}
}

/*  END Dragable image component ***************************************************************************************/
/*  Case Study Pagination component **********************************************************************************************/

#case-pagination{
	background-color: #fff;
	padding: 200px 0;
}

.pag-holder {
	height: 65px;
	width: 100%;
}

.pag-next{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	cursor: pointer;
}
.pag-all {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: 8px 0 0 -25px;
	cursor: pointer;
}
.pag-prev{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.pag-prev:hover,
.pag-next:hover {
	opacity: .7;
}

.pag-holder h4 {
	margin: 0;
}

.pag-holder p {
	margin: 5px 0 0;
	font-family: 'Domine', serif;
	font-weight: normal;
}

.sq {
	position: absolute;
	height: 12px;
	width: 12px;
	display: block;
	background-color: #000;
	-webkit-transition: all .2s; /* Safari */
	transition: all .2s;
}

#sq1 {
	left: 0;
	top: 0;
}

#sq2 {
	left: 19px;
	top: 0;
}

#sq3 {
	right: 0;
	top: 0;
}
#sq4 {
	left: 0;
	top: 18px;
}

#sq5 {
	left: 19px;
	top: 18px;
}

#sq6 {
	right: 0;
	top: 18px;
}
#sq7 {
	left: 0;
	top: 36px;
}

#sq8 {
	left: 19px;
	top: 36px;
}

#sq9 {
	right: 0;
	top: 36px;
}

.pag-all:hover #sq1{
	left: -3px;
	top: -3px;
}
.pag-all:hover #sq2{
	top: -3px;
}
.pag-all:hover #sq3{
	right: -3px;
	top: -3px;
}
.pag-all:hover #sq4{
	left: -3px;
}
.pag-all:hover #sq6{
	right: -3px;
}
.pag-all:hover #sq7{
	left: -3px;
	top: 39px;
}
.pag-all:hover #sq8{
	top: 39px;
}
.pag-all:hover #sq9{
	right: -3px;
	top: 39px;
}