html {
    font-size: 62.5%;
}

body {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'DINPro', sans-serif;
    color: #002949;
    background: #f5f5f5;
}

div {
	position: relative;
}

a:focus { 
    outline: none; 
}

.container {
	min-width: 280px;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}




/* main navigation *****************************************************************************/
nav {
	position: fixed;
	background: #f5f5f5;
	top:0;
	left:0;
	width: 100%;
	z-index: 10000;
	margin:0;
	-webkit-transition: all .5s; /* Safari */
  transition: all .5s;
}

.nav-show {
	margin: 15px 0;
}

.logo-cont {
	height: 45px;
	width: 150px;
	float: left;
	cursor: pointer;
	z-index:1000;
}

svg.logo-m,
svg.logo-martin {
	fill:#bc4e27;
	-webkit-transition: fill .3s; /* Safari */
  transition: fill .3s;
}

svg.logo-williams{
	fill:#a7a9ac;
	-webkit-transition: fill .3s; /* Safari */
  transition: fill .3s;
}

.logo-m {
	width: 45px;
}

.logo-martin,
.logo-williams {
	height: 15px;
}

.logo1, .logo2, .logo3 {
	position: absolute;
	top: 0;
	left: 0;
}

.logo2 {
	left: 55px;
	top:5px;
}

.logo3 {
	left: 55px;
	top: 22px;
}

.menu-icon {
	width: 42px;
	height: 42px;
	float: right;
	padding: 10px 11px;
	cursor: pointer;
	z-index:1000;
	-webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}

.sushi-bar {
	width: 4px;
	height: 22px;
	margin: 0;
	opacity: 1;
	-webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}

.menu-icon:hover {
	width: 57px;
}

.menu-icon:hover .sushi-bar{
	margin: 0 1.5px;
}

.open .menu-icon {
	width: 42px;
}
.open .menu-icon #sb2 {
	margin: 0;
	opacity: 0;
}

.open .menu-icon #sb1 {
	margin: 0;
	left:0;
	 -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

.open .menu-icon #sb3 {
	margin-left: -15px;
	left: 0;
	 -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
}

.main-nav {
	background: #bc4e27;
	height: 600px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 10000px;
	z-index: 500;
	display: block;
	-webkit-transition: all .3s; /* Safari */
  transition: all .3s;
}

.mn-cont {
	float: none;
	margin-top: 100px;
}

.mn-cont ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mn-cont ul li {}
.mn-cont ul li a,
.mn-cont ul li a:visited {
	color: #fff;
	font-size: 3.0rem;
	letter-spacing: -1.5px;
	display:block;
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
}

.mn-cont ul li a:hover,
.mn-cont ul li a:focus {
	text-decoration: none;
	opacity: .75;
}

html.open,
.open body { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.open .main-nav {
	left: 0 !important;
}

.open svg,
.open svg.logo-williams,
.open svg.logo-martin,
.open svg.logo-m {
	fill: #fff;
}
ul.mn-social,
ul.mn-contact {
	margin-top: 25px;
}

li.li-title {
	color: #fff;
	font-size: 3.0rem;
	letter-spacing: -1.5px;
	font-weight: 500;
	line-height: 2.0rem;
	padding: 0;
	margin-bottom: 20px;
}

ul.mn-social li a,
ul.mn-contact li a {
	font-family: 'Domine', serif;
	font-size: 1.7rem;
	line-height: 2.0rem;
	letter-spacing: 0;
	color: #000;
	padding: 0;
}

.nav-hide {
	top: -75px;
}


@media only screen and (min-width:768px) {
	nav {
		height: 125px;
	}
	.nav-show {
		margin: 40px 0;
		-webkit-transition: all .3s; /* Safari */
  	transition: all .3s;
	}
	.logo-cont {
		width: 250px;
	}
	.logo-martin,
	.logo-williams {
		height: 20px;
	}

	.logo2 {
		left: 55px;
		top:9px;
	}

	.logo3 {
		left: 135px;
		top: 9px;
	}
	.mn-cont {
		float: right;
		margin-top: 40px;
		margin-right: 60px;
	}
	.main-nav {
		width: auto;
	}
	.mn-cont ul {
		width: 225px;
	}
	.mn-cont ul li a {
		width: auto;
		display: inline-block;
		text-align: left;
		-webkit-transition: all .3s; /* Safari */
  	transition: all .3s;
	}

	.mn-cont ul li a:hover {
		opacity: 1;
		padding-left: 15px;
	}

	.mn-cont ul.mn-social li a:hover,
	.mn-cont ul.mn-contact li a:hover{
		padding: 0;
		opacity: .7;
	}

	a.tele {
		margin-top: 10px;
	}

	nav.min-nav {
		height: 75px;
	}

	.min-nav .nav-show {
		margin: 15px 0;
	}

}

/* END main navigation *****************************************************************************/
/* Footer  *****************************************************************************************/
footer {
	background: #000;
	padding: 100px 0;
}

footer .logo-cont {
	margin-bottom: 25px;
}

footer svg.logo-m,
footer svg.logo-martin,
footer svg.logo-williams {
	fill: #ffffff;
}

footer .ft-link-cont {
	padding: 0 15px 0 40px;
}

footer .ft-link-cont > a,
footer .ft-title {
	display: block;
	width: 100%;
	font-weight: 500;
	font-size: 2.4rem;
	color: #fff;
	line-height: 2.8rem;
	padding-bottom: 15px;
}

footer .ft-title {
	padding-bottom: 5px;
}

ul.ft-copy {
	list-style: none;
	padding:0;
	margin:0 0 15px;
}

ul.ft-copy li {}

footer #ft-links ul.ft-copy li a {
	color: #808080;
	font-size: 1.4rem;
	line-height: 1.8rem;
	display:block;
	font-family: 'Domine', serif;
	font-weight: normal;
	margin-bottom: 5px;
}

@media only screen and (min-width:768px) {
	footer .logo-cont {
		margin-bottom: 50px;
	}
	footer .ft-link-cont {
		padding: 0 15px;
		min-height: 150px;
	}
}
@media only screen and (min-width: 992px) {
	footer .logo-cont {
		margin-bottom: 75px;
	}
}
@media only screen and (min-width: 1200px) {}


/* END Footer  *****************************************************************************************/

.page-container {
	margin-top:75px;
	height: 700px;
	background-color: #ccc;
}

@media only screen and (min-width:768px) {
	.page-container {
		margin-top:125px;
	}
}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}


