html {
    font-size: 62.5%;
}

body {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'DINPro', sans-serif;
    color: #002949;
    background: #f5f5f5;
}

div {
	position: relative;
}
.container {
	min-width: 320px;
}




/*main navigation bar*/
nav {
	background: #f5f5f5;
	margin:15px 0;
}

.logo-cont {
	height: 45px;
	width: 150px;
	float: left;
	cursor: pointer;
}

svg#logo-m,
svg#logo-martin {
	fill:#bc4e27;
}

svg#logo-williams{
	fill:#a7a9ac;
}

#logo-m {
	width: 45px;
}

#logo-martin,
#logo-williams {
	height: 15px;
}

.logo1, .logo2, .logo3 {
	position: absolute;
	top: 0;
	left: 0;
}

.logo2 {
	left: 55px;
	top:5px;
}

.logo3 {
	left: 55px;
	top: 22px;
}

.menu-icon {
	width: 42px;
	height: 42px;
	float: right;
	padding: 10px 11px;
	cursor: pointer;
	-webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}

.sushi-bar {
	width: 4px;
	height: 22px;
	margin: 0;
	opacity: 1;
	-webkit-transition: all .2s; /* Safari */
  transition: all .2s;
}

.menu-icon:hover {
	width: 57px;
}

.menu-icon:hover .sushi-bar{
	margin: 0 1.5px;
}

.open .menu-icon {
	width: 42px;
}
.open .menu-icon #sb2 {
	margin: 0;
	opacity: 0;
}

.open .menu-icon #sb1 {
	margin: 0;
	left:0;
	 -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

.open .menu-icon #sb3 {
	margin-left: -15px;
	left: 0;
	 -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
}

.main-nav {
	background: #bc4e27;
	height: 600px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
}


@media only screen and (min-width:768px) {
	nav {
		margin:40px 0;
	}
	.logo-cont {
		width: 250px;
	}
	#logo-martin,
	#logo-williams {
		height: 20px;
	}

	.logo2 {
		left: 55px;
		top:9px;
	}

	.logo3 {
		left: 135px;
		top: 9px;
	}

}



